.foreman_mesg { overflow: hidden;}
.foreman_head { width: 186px; height: 144px; float:left;}
.foreman_mesg_right { float: right; height: 144px; width: 800px;}
.bdsharebuttonbox { float: right;}
 .right_boxa{    height: 36px;
    line-height: 36px;}
